################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Network/bin/Debug
/Uedit32/bin/Debug
/Uedit32/obj/Debug
/Uedit32Client/bin/Debug
/Uedit32Client/obj/Debug
